{% extends 'base.html' %}

{% block content %}
    <h1>수정하기</h1>
    <form action="{% url 'update' match.id %}" method='post' enctype="multipart/form-data">
        {%csrf_token%}
        <p>작성자 : <input type="text" name="writer" value = "{{user.nickname}}" readonly></p>
        <p>제목 : <input type="text" name="title" value = "{{match.title}}"></p>
        <p>사진 : <input type="file" name="image"></p>
        본문 : <textarea name="body" id='' cols='30' rows='10'>{{match.body}}</textarea>
        
        <button type='submit'>수정하기</button>
        
    </form>
{% endblock %}